<!DOCTYPE html>
<html lang="pt-bt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
</head
    <body>
        <div class="form-container">
            <h1>Atualizar Cliente</h1>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="{% url 'atualizar_cliente' cliente.id %}" method="post">
                {% csrf_token %}
                <label for="nome">Nome: </label><br>
                <input type="text" name="nome" value="{{ cliente.nome }}"><br><br>

                <label for="data_nascimento">Data de Nascimento: </label><br>
                <input type="date" name="data_nascimento" value="{{ cliente.data_nascimento }}" required><br><br>

                <label for="cpf">CPF: </label><br>
                <input type="text" name="cpf" value="{{ cliente.cpf }}"><br><br>

                <label for="telefone">Telefone: </label><br>
                <input type="text" name="telefone" value="{{ cliente.telefone }}"><br><br>

                <label for="renda_mensal">Renda Mensal: </label><br>
                <input type="text" name="renda_mensal" value="{{ cliente.renda_mensal }}"><br><br>
                
                <button type="submit" class="btn">Salvar</button>
            </form>

            <a href="{% url 'listar_cliente' %}">
                <button class="btn btn-home">Voltar para lista</button>
            </a>
        </div>
    </body>
</html>