<!DOCTYPE html>
<html lang="pt-bt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco RaroAcademy</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
    <body>
        <div class="home-container">
            <h1>Bem-vindo ao banco RaroAcademy</h1>
            <h2>Aqui seu investimento vale mais!</h2>
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <div class="home-buttons">
                <a class="nav_link" href="{% url 'cadastrar_cliente_formulario' %}">
                    <button class="btn">Cadastrar Cliente</button>
                </a>
                <a class="nav_link" href="{% url 'listar_cliente' %}">
                    <button class="btn">Clientes cadastrados</button>
                </a>
            </div>
        </div>
    </body>
</html>